{% extends "Blog/layout.html.twig"%}
{% block head %}
    <h1> Welcome to my Blog!</h1>
{% endblock %}
{% block body %}
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="Blog/list">List</a></li>
                <li><a href="/register">Registration</a></li>
                <li><a href="/login">Login</a></li>
                {% if is_granted('ROLE_USER') %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
{% endblock %}