<html lang="pl">
    <head>
        <title>Blog</title>
    </head>

    <body>
        <p>Blog index</p>
        <div>
                <li><a href = "/" title = "Index">HomePage</a> </li>
                <li><a href = "Blog/list" title = "lista">Lista</a> </li>
                <li><a href = "Blog/login" title = "login">Login</a> </li>
                <li><a href = "Blog/about" title = "About">About</a> </li>
        </div>
    </body>
</html>