<!DOCTYPE HTML>
<html lang="pl">

    <head>
        {%  block head %}
            <title>Blog!</title>
        {% endblock %}
    </head>
    <body>
        <nav>
            {% block body %}{% endblock %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </nav>
    </body>
    <footer>
        <li><a href = "/" title = "Home Page">GoBack!</a> </li>
            <p>Stopka</p>
    </footer>
</html>






























</html>