{% extends "Blog/layout.html.twig" %}

{% block head %}
<p>Choose to see more!</p>
{% endblock %}

{% block body %}
<ul>
    <a href ="Articles" title="Articles"><li>Articles</li></a>
    <a href ="Categories" title="Categories"><li>Categories</li></a>
</ul>
{% endblock %}